<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h1>Chirps</h1>
    <ul>
        <% chirps.forEach(function(chirp){ %>
        <li>
            <%= chirp.text %>
            <button class="up_btn" onclick="upvote(this)" name=<%=chirp.id%>>Up</button>
            <button class="down_btn" onclick="downvote(this)" name=<%=chirp.id%>>Down</button>
            Votes: <%= chirp.votes %>
        </li>
        <% }); %>
    </ul>
    <div>
        <input type="text" name="chirp" id="new_chirp">
        <button id="post_btn">Post</button>
    </div>
</body>
<script src="main.js"></script>

</html>